.textPara{
    height: 140px;
    width: 100vw;
    text-align: center;
    padding-top: 2rem;
    background-color: rgb(242, 242, 242);
    box-shadow: -3px 0px 3px rgb(242, 242, 242);
}
.para1{
    font-size: 2.6rem;
}
.para2{
    font-size: 1.6rem;
    margin-top: 6px;
}
