.project_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* gap:1rem; */
    /* background-color: gray; */
}
.projects img{
    height: 14rem;
    width: 23rem;
    cursor: pointer;
    border-radius: 0.6rem;
    margin:1rem;
}
.whole{
    height: auto;
    width:100vw;
    /* border:2px solid black; */
    text-align: center;
    padding-top: 2rem;
}
.project_para p{
    font-size: 3rem;
    margin:1.4rem;
    position: relative;
}
.projects{
    height: auto;
    background-color: rgb(241, 241, 241);
    margin:1rem;
    padding-bottom:0.5rem;
    border-radius: 0.6rem;
}